root = true

[*.*]
charset = utf-8

[*.cs]
charset = utf-8-bom
indent_style = space
indent_size = 4

[*.{csproj}]
charset = utf-8-bom
indent_style = space
indent_size = 2

[*.sln]
charset = utf-8-bom
indent_style = tab
indent_size = 4

[app.{config,manifest}]
charset = utf-8-bom
indent_style = space
indent_size = 2

[*.resx]
charset = utf-8-bom
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[.markdownlint{.json,.yaml,.yml,rc}]
indent_style = space
indent_size = 2
