<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProxyView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ROT_Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ProxyView.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ShowDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAllAccessible" serializeAs="String">
                <value>True</value>
            </setting>
        </ProxyView.Properties.Settings>
        <ROT_Viewer.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ShowDetails" serializeAs="String">
                <value>True</value>
            </setting>
        </ROT_Viewer.Properties.Settings>
    </userSettings>
</configuration>
