<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NetOfficeDeveloperAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetOfficeDeveloperAddin.Properties.Settings>
            <setting name="TaskPaneVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskPaneAlignment" serializeAs="String">
                <value>MsoCTPDockPosition.msoCTPDockPositionRight</value>
            </setting>
            <setting name="TaskPaneWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TaskPaneHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </NetOfficeDeveloperAddin.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
