<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory" publicKeyToken="EFE927ACF176EEA2" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.3.3.9663" newVersion="4.3.3.9663"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.AvalonEdit" publicKeyToken="9CC39BE672370310" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.3.3.9663" newVersion="4.3.3.9663"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
