<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NOTools.ConsoleMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NOTools.ConsoleMonitor.Properties.Settings>
            <setting name="WindowStartLocation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowStartInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowMonitor" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMachine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAppDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPositionY" serializeAs="String">
                <value>0</value>
            </setting>
        </NOTools.ConsoleMonitor.Properties.Settings>
    </userSettings>
</configuration>